<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoctorERP.Properties.Settings.dbConnectionString"
            connectionString="Data Source=DESKTOP-56J42HN;Initial Catalog=almalqa2023abha;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

</configuration>
