<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DoctorERP.Properties.Settings.dbConnectionString"
      connectionString="Data Source=DESKTOP-56J42HN;Initial Catalog=almalqa2023abha;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="almalqa2023abhaEntities" connectionString="metadata=res://*/Data.Real_Estate_Model.csdl|res://*/Data.Real_Estate_Model.ssdl|res://*/Data.Real_Estate_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-56J42HN;initial catalog=almalqa2023abha;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="test2024Entities" connectionString="metadata=res://*/Data.Real_Estate_Management_Model.csdl|res://*/Data.Real_Estate_Management_Model.ssdl|res://*/Data.Real_Estate_Management_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=test2024;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Real_Estate_Management_Entities" connectionString="metadata=res://*/Data.Real_Estate_Management_Model.csdl|res://*/Data.Real_Estate_Management_Model.ssdl|res://*/Data.Real_Estate_Management_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-56J42HN;initial catalog=realestatebrokermanagement;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Real_Estate_Management.Properties.Settings.realestatebrokermanagementConnectionString"
      connectionString="Data Source=DESKTOP-56J42HN;Initial Catalog=realestatebrokermanagement;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>